configure {
    system {
        name "CSC2-PE1"
        security {
            user-params {
                local-user {
                    user "admin" {
                        password "NokiaSros1!"
                        access {
                            console true
                        }
                        console {
                            member ["administrative"]
                        }
                    }
                    user "clab" {
                        password "ContainerLab1!"
                        access {
                            console true
                        }
                        console {
                            member ["administrative"]
                        }
                    }
                }
            }
        }
    }
    card 1 {
        admin-state enable
        card-type iom-1
        mda 1 {
            admin-state enable
            mda-type me12-100gb-qsfp28
        }
    }
    port 1/1/c1 {
        connector {
            breakout c1-100g
        }
        admin-state enable
    }
    port 1/1/c2 {
        connector {
            breakout c1-100g
        }
        admin-state enable
    }
    port 1/1/c3 {
        connector {
            breakout c1-100g
        }
        admin-state enable
    }
    port 1/1/c6 {
        connector {
            breakout c1-100g
        }
        admin-state enable
    }
    port 1/1/c1/1 {
        admin-state enable
        ethernet {
            mode access
            encap-type dot1q
        }
    }
    port 1/1/c2/1 {
        admin-state enable
        ethernet {
            mode network
            mtu 9014
        }        
    }
    port 1/1/c3/1 {
        admin-state enable
        ethernet {
            mode network
            mtu 9014
        }
    }
    port 1/1/c6/1 {
        admin-state enable
        ethernet {
            mode network
            mtu 9014
        }
    }
    policy-options {
        policy-statement "BGP-EXPORT-VPRN10-TO-CE-C1" {
            entry 10 {
                from {
                    protocol {
                        name [bgp-vpn]
                    }
                }
                action {
                    action-type accept
                }
            }
        }
        policy-statement "BGP-IMPORT-VPRN10-FROM-CE-C1" {
            entry 10 {
                from {
                    protocol {
                        name [bgp]
                    }
                }
                action {
                    action-type accept
                }
            }
        }
        policy-statement "FROM-IPV6-TO-LABEL-IPV6" {
            entry 10 {
                from {
                    family [ipv6]
                    protocol {
                        name [bgp]
                    }
                }
                to {
                    protocol {
                        name [bgp-label]
                    }
                }
                action {
                    action-type accept
                }
            }
        }
        policy-statement "FROM-LABEL-IPV6-TO-IPV6" {
            entry 10 {
                from {
                    family [ipv6]
                    protocol {
                        name [bgp-label]
                    }
                }
                to {
                    protocol {
                        name [bgp]
                    }
                }
                action {
                    action-type accept
                }
            }
        }
    }
    router "Base" {
        autonomous-system 64516
        interface "system" {
            ipv4 {
                primary {
                    address 100.66.255.11
                    prefix-length 32
                }
            }
            ipv6 {
                address 2001:db8:66:255::11 {
                    prefix-length 128
                }
            }
        }
        interface "to-CSC2-P1" {
            port 1/1/c2/1
            description "To_CSC2-P1_1/1/c2/1"
            ip-mtu 9000
            ipv4 {
                primary {
                    address 100.66.0.1
                    prefix-length 30
                }
            }
            ipv6 {
                address 2001:db8:66::1 {
                    prefix-length 126
                }
            }
            admin-state enable
        }
        interface "to-CSC2-P2" {
            port 1/1/c3/1
            description "To_CSC2-P2_1/1/c3/1"
            ip-mtu 9000
            ipv4 {
                primary {
                    address 100.66.0.5
                    prefix-length 30
                }
            }
            ipv6 {
                address 2001:db8:66::5 {
                    prefix-length 126
                }
            }
            admin-state enable
        }
        interface "to-P2" {
            port 1/1/c6/1
            description "To_P2_1/1/c6/1"
            ip-mtu 9000
            ipv4 {
                primary {
                    address 100.66.1.1
                    prefix-length 30
                }
            }
            ipv6 {
                address 2001:db8:66:1::1 {
                    prefix-length 126
                }
            }
            admin-state enable
        }
        mpls-labels {
            sr-labels {
                start 100000
                end 100999
            }
        }
        ldp {
            admin-state enable
        }        
        mpls {
            admin-state enable
            interface "system" {
            }
            interface "to-CSC2-P1" {
            }
            interface "to-CSC2-P2" {            
            }            
        }
        ospf 0 {
            admin-state enable
            router-id 100.66.255.11
            advertise-router-capability area
            traffic-engineering true
            segment-routing {
                admin-state enable
                prefix-sid-range {
                    global
                }
            }
            area 0.0.0.0 {
                interface "system" {
                    passive true
                    node-sid {
                        index 311
                    }
                }
                interface "to-CSC2-P1" {
                    interface-type point-to-point
                }
                interface "to-CSC2-P2" {
                    interface-type point-to-point
                }
            }
        }
        bgp {
            admin-state enable
            router-id 100.66.255.11
            rapid-withdrawal true
            graceful-restart {
            }
            next-hop-resolution {
                shortcut-tunnel {
                    family ipv4 {
                        resolution filter
                        resolution-filter {
                            sr-ospf true
                        }
                    }
                    family ipv6 {
                        resolution filter
                        resolution-filter {
                            sr-ospf true
                        }
                    }
                }
                labeled-routes {
                    transport-tunnel {
                        family vpn {
                            resolution filter
                            resolution-filter {
                                sr-ospf true
                            }
                        }
                        family label-ipv4 {
                            resolution filter
                            resolution-filter {
                                sr-ospf true
                            }
                        }
                        family label-ipv6 {
                            resolution filter
                            resolution-filter {
                                sr-ospf true
                            }
                        }
                    }
                }
            }
            rib-management {
                ipv6 {
                    route-table-import {
                        policy-name "FROM-LABEL-IPV6-TO-IPV6"
                    }
                }
                label-ipv6 {
                    route-table-import {
                        policy-name "FROM-IPV6-TO-LABEL-IPV6"
                    }
                }
            }
            group "IBGP-CSC2" {
                vpn-apply-export true
                vpn-apply-import true
                next-hop-self true
                type internal
                local-address "system"
                family {
                    ipv4 true
                    ipv6 true
                    label-ipv4 true
                    label-ipv6 true
                    vpn-ipv4 true
                    vpn-ipv6 true
                    evpn true
                    l2-vpn true
                    sr-policy-ipv4 true
                    sr-policy-ipv6 true
                    bgp-ls true
                    flow-ipv4 true
                    flow-ipv6 true
                }
            }
            group "EBGP-CORE" {
                type external
                local-address "system"
                family {
                    ipv4 true
                    ipv6 true
                    label-ipv4 true
                    label-ipv6 true
                    sr-policy-ipv4 true
                    sr-policy-ipv6 true
                    bgp-ls true
                    flow-ipv4 true
                    flow-ipv6 true
                }
            }
            group "EBGP-CPE" {
                type external
                local-address "system"
                family {
                    ipv4 true
                    ipv6 true
                }
            }
            neighbor "100.66.255.12" {
                group "IBGP-CSC2"
                description "iBGP_to_CSC2-PE2"
            }
            neighbor "100.66.1.2" {
                group "EBGP-CORE"
                description "eBGP_to_P2"
                peer-as 64515
            }
        }
        rsvp {
            admin-state disable
            interface "system" {
            }
            interface "to-CSC2-P1" {
            }
            interface "to-CSC2-P2" {            
            }
        }
    }
    service {
        customer "CUST-C" {
            customer-id 300
            description "Pair C - CPE-C1 side"
        }

        pw-template "50" {
            provisioned-sdp use
            path-mtu 1518            
            split-horizon-group {
                name "vpls-shg"
            }
        }

        sdp 612 {
            admin-state enable
            delivery-type mpls
            path-mtu 1514
            sr-ospf true
            far-end {
                ip-address 100.66.255.12
            }
        }

        sdp 1112 {
            admin-state enable
            description "SR-Tunnel-to-PE2"
            delivery-type mpls
            path-mtu 9000
            signaling bgp
            sr-ospf true
            far-end {
                ip-address 100.66.255.12
            }
        }

        vprn "CUST-C-L3VPN" {
            service-id 10
            customer "CUST-C"
            admin-state enable
            autonomous-system 64516
            bgp-ipvpn {
                mpls {
                    admin-state enable
                    route-distinguisher "64516:210"
                    vrf-target {
                        community "target:64516:210"
                    }
                    auto-bind-tunnel {
                        resolution filter
                        resolution-filter {
                            ldp true
                            sr-ospf true
                        }
                    }
                }
            }
            interface "to-CPE-C1-vlan10" {
                sap 1/1/c1/1:10 { }
                ipv4 {
                    primary {
                        address 172.18.0.1
                        prefix-length 30
                    }
                }
                admin-state enable
            }
            bgp {
                admin-state enable
                router-id 100.66.255.11
                group "CE-C1" {
                    type external
                    as-override true
                    family {
                        ipv4 true
                    }
                    import {
                        policy ["BGP-IMPORT-VPRN10-FROM-CE-C1"]
                    }
                    export {
                        policy ["BGP-EXPORT-VPRN10-TO-CE-C1"]
                    }
                    peer-as 65003
                }
                neighbor "172.18.0.2" {
                    group "CE-C1"
                }
            }
        }

        epipe "CUST-C-VPWS-LDP" {
            admin-state enable
            description "VLAN20 - VPWS LDP"
            service-id 20
            customer "CUST-C"
            spoke-sdp 612:20 {
                admin-state enable
                vlan-vc-tag 20
                vc-type vlan
            }
            sap 1/1/c1/1:20 {
                admin-state enable
            }
        }

        vpls "CUST-C-VPLS-LDP" {
            service-id 30
            customer "CUST-C"
            admin-state enable
            sap 1/1/c1/1:30 { }
            mesh-sdp 612:230 { }
        }

        vpls "CUST-C-BGP-EVPN" {
            admin-state enable
            service-id 40
            customer "CUST-C"
            proxy-arp {
                admin-state enable
                dynamic-populate true
            }
            proxy-nd {
                admin-state enable
                dynamic-populate true
            }
            bgp-evpn {
                evi 40
                mpls 1 {
                    admin-state enable
                    ingress-replication-bum-label true
                    auto-bind-tunnel {
                        resolution filter
                        resolution-filter {
                            sr-ospf true
                        }
                    }
                }
            }
            sap 1/1/c1/1:40 {
            }
        }

        vpls "CUST-C-VPLS-BGPAD" {
            service-id 50
            customer "CUST-C"
            admin-state enable
            stp {
                admin-state disable
            }
            sap 1/1/c1/1:50 {
            }

            bgp 1 {
                route-distinguisher "64516:50"
                route-target {
                    export "target:64516:50"
                    import "target:64516:50"
                }
                pw-template-binding "50" {
                }
            }

            bgp-vpls {
                admin-state enable
                maximum-ve-id 10
                ve {
                    name "CSC2-PE1"
                    id 1
                }
            }
        }

        vpls "CUST-C-EVPN" {
            service-id 60
            customer "CUST-C"
            admin-state enable
            sap 1/1/c1/1:60 {
            }

            # For EVPN, simplest is to let EVI auto-derive RD/RT
            bgp 1 {
            }

            bgp-evpn {
                evi 260
                mpls 1 {
                    admin-state enable
                }
            }
        }

        ies "CUST-C-INET" {
            service-id 70
            customer "CUST-C"
            admin-state enable
            interface "to-CPE-C1-vlan70" {
                sap 1/1/c1/1:70 { }
                ipv4 {
                    primary {
                        address 66.66.0.1
                        prefix-length 30
                    }
                }
                ipv6 {
                    address 2001:db8:c::1 {
                        prefix-length 126
                    }
                }
                admin-state enable
            }
        }
    }
}
